<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Properties>
        <Property name="log-path">$${sys:jboss.server.log.dir:-env:LOG_HOME}/contingent2-area-service/</Property>
        <Property name="log-pattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %C:%c{1}:%L - %msg%n</Property>
	<Property name="log-file-prefix">contingent2-area-</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="${log-pattern}"/>
        </Console>

        <RollingFile name="CONTINGENT_SERVICE" fileName="${log-path}/${log-file-prefix}service.log"
                     filePattern="${log-path}/${log-file-prefix}service-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <pattern>${log-pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <!-- 
            Для включения логирования SOAP-запросов в настройках сервера приложений 
            должно быть установлено свойство org.apache.cxf.logging.enabled=true
        -->
        <RollingFile name="CXF_SOAP" fileName="${log-path}/${log-file-prefix}soap.log"
                     filePattern="${log-path}/${log-file-prefix}soap-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <pattern>${log-pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="SPRING_TRANSACTION" fileName="${log-path}/${log-file-prefix}transaction.log"
                     filePattern="${log-path}/${log-file-prefix}transaction-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>${log-pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        
        <RollingFile name="SPRING_JDBC" fileName="${log-path}/${log-file-prefix}jdbc.log"
                     filePattern="${log-path}/${log-file-prefix}jdbc-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>${log-pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        
        <RollingFile name="SPRING_JPA" fileName="${log-path}/${log-file-prefix}jpa.log"
                     filePattern="${log-path}/${log-file-prefix}jpa-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>${log-pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        
        <RollingFile name="METRICS" fileName="${log-path}/${log-file-prefix}metrics.log"
                     filePattern="${log-path}/${log-file-prefix}metrics-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>${log-pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        
    </Appenders>
    <Loggers>
    
        <Logger name="org.apache.cxf" level="INFO" includeLocation="true">
            <appender-ref ref="CXF_SOAP" level="INFO"/>
        </Logger>
        
        <Logger name="moscow.ptnl.metrics" level="INFO" additivity="false" includeLocation="true">
            <appender-ref ref="METRICS" level="INFO"/>
        </Logger>

        <Logger name="moscow.ptnl" level="INFO" includeLocation="true">
            <appender-ref ref="CONTINGENT_SERVICE" level="INFO"/>
        </Logger>
        
        <Logger name="org.springframework.transaction" level="INFO" additivity="false" includeLocation="true">
            <appender-ref ref="SPRING_TRANSACTION" level="INFO"/>
        </Logger>
        
        <Logger name="org.springframework.jdbc" level="INFO" additivity="false" includeLocation="true">
            <appender-ref ref="SPRING_JDBC" level="INFO"/>
        </Logger>
        
        <Logger name="org.springframework.orm.jpa" level="INFO" additivity="false" includeLocation="true">
            <appender-ref ref="SPRING_JPA" level="INFO"/>
        </Logger>

        <Root>
            <appender-ref ref="console-log" level="INFO"/>
        </Root>

    </Loggers>
</Configuration>
